.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #2a77db;
    position: sticky;
    top: 0;
    z-index: 100;
}

.main {
    font-size: 22px !important;
}

.option {
    color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
}

.search {
    display: flex;
    flex: 1;
    align-items: center;
}

.search_input {
    height: 12px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 10px;
}

.search_icon {
    padding: 5px;
    height: 22px !important;
    color: white;
}

.cartOption {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}